<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <!-- 'ng-app' - angular module binding -->
  <!-- 'ng-controller' - angular controller binding -->
  <body ng-app="starter" ng-controller="AnimationExample as vm">

    <div> <!-- groups the controls at the top into a box -->

      <!-- ng-click binds the DOM click event of the button to the animate function from the controller -->
      <button ng-click="vm.animate()" ng-model="vm.animateButtonState">{{vm.animateButtonState}}</button>


      <!-- angular binding to array of available animations in data model -->
      <select ng-model="vm.selectedAnimation">
        <!-- ng-repeat iterates over the array of available animations -->
        <option ng-repeat="x in vm.availableAnimations" value="{{x}}">{{x}}</option>
      </select>

      <!-- Works the same way as the one above -->
      <select ng-model="vm.selectedText">
        <option ng-repeat="x in vm.availableText" value="{{x}}">{{x}}</option>
      </select>
    </div>

    <!-- Instructions -->
    <ul>
      <li>1. Select the animation from the first dropdown</li>
      <li>2. Select the message from the second dropdown</li>
      <li>3. Press the "Animate" button</li>
      <li>4. Press the "Reset" button</li>
      <li>5. Repeat</li>
    </ul>

    <!-- ID to allow the animate function to find this element and uses ng-class to toggle the selected animation depending on the value of a boolean -->
    <h1 id="animated-text" ng-class="vm.animating ? vm.selectedAnimation : ''" ><span >{{vm.selectedText}}</span></h1>

  </body> 
</html>
